.header{
  background-color: white;
  box-sizing: border-box;
}

[role="main"] {
  background-color: black;
  box-sizing: border-box;
}

[role="image"]{
  width: 150px;
  height: 150px;
  border: 0px;
}

.image-border{
  display: block;
  width = 100%;
}

section.section-parts{
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
}

div.parts{
  box-sizing: border-box;
  background-color: white;
}
