.header{
  background-color: white;
  box-sizing: border-box;
}

[role="main"] {
  background-color: red;
  box-sizing: border-box;
}

section.parts{
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  
  /*background-color: black;
  box-sizing: border-box;*/
}
